body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-231px;
  width:21798px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u738_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(250, 205, 145, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u738 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:102px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u738 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u738_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u739_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u739 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:235px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u739 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u739_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u740_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u740 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:235px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u740 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u740_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u741 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:132px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u741_seg0 {
  border-width:0px;
  position:absolute;
  left:-367px;
  top:-5px;
  width:367px;
  height:10px;
}
#u741_seg1 {
  border-width:0px;
  position:absolute;
  left:-367px;
  top:-5px;
  width:10px;
  height:108px;
}
#u741_seg2 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-9px;
  width:18px;
  height:18px;
}
#u741_seg3 {
  border-width:0px;
  position:absolute;
  left:-371px;
  top:88px;
  width:18px;
  height:23px;
}
#u741_text {
  border-width:0px;
  position:absolute;
  left:-282px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u742 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:162px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u742_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:78px;
}
#u742_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-3px;
  width:18px;
  height:18px;
}
#u742_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:58px;
  width:18px;
  height:23px;
}
#u742_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:28px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u743_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u743 {
  border-width:0px;
  position:absolute;
  left:568px;
  top:336px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u743 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u743_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u744 {
  border-width:0px;
  position:absolute;
  left:569px;
  top:265px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u744_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:76px;
  height:10px;
}
#u744_seg1 {
  border-width:0px;
  position:absolute;
  left:66px;
  top:-5px;
  width:10px;
  height:76px;
}
#u744_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-9px;
  width:18px;
  height:18px;
}
#u744_seg3 {
  border-width:0px;
  position:absolute;
  left:62px;
  top:56px;
  width:18px;
  height:23px;
}
#u744_text {
  border-width:0px;
  position:absolute;
  left:21px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u745_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u745 {
  border-width:0px;
  position:absolute;
  left:991px;
  top:336px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u745 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u745_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u746 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:265px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u746_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:65px;
  height:10px;
}
#u746_seg1 {
  border-width:0px;
  position:absolute;
  left:55px;
  top:-5px;
  width:10px;
  height:76px;
}
#u746_seg2 {
  border-width:0px;
  position:absolute;
  left:-3px;
  top:-9px;
  width:18px;
  height:18px;
}
#u746_seg3 {
  border-width:0px;
  position:absolute;
  left:51px;
  top:56px;
  width:18px;
  height:23px;
}
#u746_text {
  border-width:0px;
  position:absolute;
  left:10px;
  top:-2px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u747_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u747 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:488px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u747 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u747_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u748_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u748 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:488px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u748 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u748_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u749 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:295px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u749_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:198px;
}
#u749_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-3px;
  width:18px;
  height:18px;
}
#u749_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:178px;
  width:18px;
  height:23px;
}
#u749_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u750 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:295px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u750_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:198px;
}
#u750_seg1 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-3px;
  width:18px;
  height:18px;
}
#u750_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:178px;
  width:18px;
  height:23px;
}
#u750_text {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:88px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u751_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(202, 249, 130, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u751 {
  border-width:0px;
  position:absolute;
  left:1241px;
  top:488px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u751 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u751_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u752_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u752 {
  border-width:0px;
  position:absolute;
  left:1319px;
  top:336px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u752 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u752_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u753 {
  border-width:0px;
  position:absolute;
  left:1003px;
  top:132px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u753_seg0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:-5px;
  width:393px;
  height:10px;
}
#u753_seg1 {
  border-width:0px;
  position:absolute;
  left:383px;
  top:-5px;
  width:10px;
  height:209px;
}
#u753_seg2 {
  border-width:0px;
  position:absolute;
  left:-8px;
  top:-9px;
  width:23px;
  height:18px;
}
#u753_seg3 {
  border-width:0px;
  position:absolute;
  left:379px;
  top:189px;
  width:18px;
  height:23px;
}
#u753_text {
  border-width:0px;
  position:absolute;
  left:246px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u754_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u754 {
  border-width:0px;
  position:absolute;
  left:1155px;
  top:336px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u754 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u754_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u755 {
  border-width:0px;
  position:absolute;
  left:931px;
  top:162px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u755_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:42px;
}
#u755_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:32px;
  width:306px;
  height:10px;
}
#u755_seg2 {
  border-width:0px;
  position:absolute;
  left:291px;
  top:32px;
  width:10px;
  height:142px;
}
#u755_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-3px;
  width:18px;
  height:18px;
}
#u755_seg4 {
  border-width:0px;
  position:absolute;
  left:287px;
  top:159px;
  width:18px;
  height:23px;
}
#u755_text {
  border-width:0px;
  position:absolute;
  left:148px;
  top:29px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u756 {
  border-width:0px;
  position:absolute;
  left:1227px;
  top:396px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u756_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u756_seg1 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:41px;
  width:96px;
  height:10px;
}
#u756_seg2 {
  border-width:0px;
  position:absolute;
  left:81px;
  top:41px;
  width:10px;
  height:51px;
}
#u756_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-3px;
  width:18px;
  height:18px;
}
#u756_seg4 {
  border-width:0px;
  position:absolute;
  left:77px;
  top:77px;
  width:18px;
  height:23px;
}
#u756_text {
  border-width:0px;
  position:absolute;
  left:-7px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u757 {
  border-width:0px;
  position:absolute;
  left:1391px;
  top:396px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u757_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:51px;
}
#u757_seg1 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:41px;
  width:88px;
  height:10px;
}
#u757_seg2 {
  border-width:0px;
  position:absolute;
  left:-83px;
  top:41px;
  width:10px;
  height:51px;
}
#u757_seg3 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-3px;
  width:18px;
  height:18px;
}
#u757_seg4 {
  border-width:0px;
  position:absolute;
  left:-87px;
  top:77px;
  width:18px;
  height:23px;
}
#u757_text {
  border-width:0px;
  position:absolute;
  left:-89px;
  top:38px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u758_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:118px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u758 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:488px;
  width:118px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u758 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u758_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u759_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u759 {
  border-width:0px;
  position:absolute;
  left:507px;
  top:203px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u759 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u759_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u760_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u760 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:235px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u760 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u760_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u761 {
  border-width:0px;
  position:absolute;
  left:425px;
  top:265px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u761_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:55px;
  height:10px;
}
#u761_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-9px;
  width:18px;
  height:18px;
}
#u761_seg2 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-9px;
  width:23px;
  height:18px;
}
#u761_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u762_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(255, 255, 128, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u762 {
  border-width:0px;
  position:absolute;
  left:665px;
  top:235px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u762 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u762_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u763 {
  border-width:0px;
  position:absolute;
  left:859px;
  top:265px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u763_seg0 {
  border-width:0px;
  position:absolute;
  left:-50px;
  top:-5px;
  width:55px;
  height:10px;
}
#u763_seg1 {
  border-width:0px;
  position:absolute;
  left:-15px;
  top:-9px;
  width:18px;
  height:18px;
}
#u763_seg2 {
  border-width:0px;
  position:absolute;
  left:-58px;
  top:-9px;
  width:23px;
  height:18px;
}
#u763_text {
  border-width:0px;
  position:absolute;
  left:-75px;
  top:-8px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u764_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u764 {
  border-width:0px;
  position:absolute;
  left:851px;
  top:203px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u764 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u764_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u765_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u765 {
  border-width:0px;
  position:absolute;
  left:1075px;
  top:304px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u765 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u765_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u766_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:64px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u766 {
  border-width:0px;
  position:absolute;
  left:1400px;
  top:272px;
  width:112px;
  height:64px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u766 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u766_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u767_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:112px;
  height:48px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u767 {
  border-width:0px;
  position:absolute;
  left:1235px;
  top:288px;
  width:112px;
  height:48px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u767 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u767_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u768_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u768 {
  border-width:0px;
  position:absolute;
  left:21949px;
  top:320px;
  width:80px;
  height:16px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u768 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u768_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u769_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u769 {
  border-width:0px;
  position:absolute;
  left:513px;
  top:456px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u769 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u769_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u770_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u770 {
  border-width:0px;
  position:absolute;
  left:942px;
  top:472px;
  width:80px;
  height:16px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u770 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u770_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u771_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u771 {
  border-width:0px;
  position:absolute;
  left:651px;
  top:320px;
  width:80px;
  height:16px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u771 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u771_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u772_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:60px;
  background:inherit;
  background-color:rgba(129, 211, 248, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u772 {
  border-width:0px;
  position:absolute;
  left:231px;
  top:336px;
  width:144px;
  height:60px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u772 .text {
  position:absolute;
  align-self:center;
  padding:2px 2px 2px 2px;
  box-sizing:border-box;
  width:100%;
}
#u772_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
#u773 {
  border-width:0px;
  position:absolute;
  left:497px;
  top:295px;
  width:0px;
  height:0px;
  font-family:'MicrosoftYaHei', 'Microsoft YaHei', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#000000;
}
#u773_seg0 {
  border-width:0px;
  position:absolute;
  left:-5px;
  top:0px;
  width:10px;
  height:76px;
}
#u773_seg1 {
  border-width:0px;
  position:absolute;
  left:-122px;
  top:66px;
  width:127px;
  height:10px;
}
#u773_seg2 {
  border-width:0px;
  position:absolute;
  left:-9px;
  top:-3px;
  width:18px;
  height:18px;
}
#u773_seg3 {
  border-width:0px;
  position:absolute;
  left:-130px;
  top:62px;
  width:23px;
  height:18px;
}
#u773_text {
  border-width:0px;
  position:absolute;
  left:-76px;
  top:63px;
  width:100px;
  word-wrap:break-word;
  text-transform:none;
  visibility:hidden;
}
#u774_div {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:32px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u774 {
  border-width:0px;
  position:absolute;
  left:341px;
  top:304px;
  width:80px;
  height:32px;
  display:flex;
  font-family:'MicrosoftYaHei', '微软雅黑', sans-serif;
  font-weight:400;
  font-style:normal;
  font-size:10px;
}
#u774 .text {
  position:absolute;
  align-self:flex-start;
  padding:0px 0px 0px 0px;
  box-sizing:border-box;
  width:100%;
}
#u774_text {
  border-width:0px;
  word-wrap:break-word;
  text-transform:none;
}
